@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
  word-break: break-word;
}

html,
body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  font-weight: 400;
  background-color: #000;
  color: #fff;
}

::-webkit-scrollbar-thumb {
  background: slategray;
}

::-webkit-scrollbar-track {
  background: #b8c0c8;
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

body {
  scrollbar-face-color: slategray;
  scrollbar-track-color: #b8c0c8;
  overflow-x: hidden;
}

ul,
ol {
  margin: 0;
  padding: 0;
}
ul li,
ol li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 87.7777777778vw;
  margin: 0 auto;
  padding: 0 1.1111111111vw;
}
@media screen and (min-width:768px) {
  .container {
    padding: 0 1.6666666667vw;
  }
}
@media screen and (min-width:950px) {
  .container {
    padding: 0 2.7777777778vw;
  }
}
@media screen and (min-width:1199px) {
  .container {
    padding: 0 3.4722222222vw;
  }
}
@media screen and (min-width:1320px) {
  .container {
    padding: 0 0.8333333333vw;
  }
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
  -webkit-appearance: none;
}

.section_landing {
  background-image: url("./assets/banner-avater.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}
@media screen and (min-width:950px) {
  .section_landing {
    height: 150dvh;
  }
}
.section_landing .landing_portion {
  height: 60dvh;
  align-content: center;
  justify-items: center;
}
.section_landing .landing_portion .details {
  background-color: rgba(0, 0, 0, 0.4117647059);
  padding: 0.6944444444vw;
  border-radius: 21px;
}
.section_landing .landing_portion h1 {
  font-size: 5rem;
  line-height: normal;
  font-weight: 700;
  margin-bottom: 1.7361111111vw;
}
.section_landing .landing_portion .signdetails {
  font-size: 1rem;
  line-height: normal;
  font-weight: 500;
  margin-bottom: 1.7361111111vw;
  text-align: center;
}
.section_float_one {
  position: relative;
  height: auto;
}
@media screen and (min-width:950px) {
  .section_float_one {
    height: 100dvh;
  }
}
.section_float_one > img {
  position: static;
  top: -75dvh;
  left: 5%;
  width: 100%;
  right: 5%;
}
@media screen and (min-width:950px) {
  .section_float_one > img {
    position: absolute;
    width: 90%;
  }
}
.section_blog {
  height: auto;
  padding: 0.6944444444vw 0;
}
@media screen and (min-width:768px) {
  .section_blog {
    height: 140dvh;
    padding: 2.7777777778vw 0;
  }
}
.section_blog h2 {
  font-size: 3.8194444444vw;
  line-height: normal;
  font-weight: 700;
  margin-bottom: 2.0833333333vw;
}
.section_marqee-slide {
  margin: 0 auto;
  width: 80%;
  overflow: hidden;
  position: relative;
}
.section_marqee-slide .marquee-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  animation: marquee 15s linear infinite;
  width: -moz-max-content;
  width: max-content;
  gap: 2.7777777778vw;
}
@media screen and (min-width:768px) {
  .section_marqee-slide .marquee-items figure > img {
    width: 220px;
  }
}
.section_marqee-slide:hover .marquee-items {
  animation-play-state: paused;
}
.section_middle-one {
  height: auto;
  justify-content: space-between;
}
@media screen and (min-width:768px) {
  .section_middle-one {
    height: calc(130dvh + 105px);
  }
}
.section_middle-one > article {
  flex: 1 1 40%;
}
.section_middle-one > article h2 {
  font-size: 3.125rem;
  line-height: normal;
  font-weight: 700;
  margin-bottom: 1.7361111111vw;
}
.section_middle-one > article p {
  font-size: 1.5625rem;
  font-weight: 400;
  margin-bottom: 1.3888888889vw;
  color: #767676;
  line-height: normal;
}
.section_middle-one > article ul li {
  font-size: 1.5625rem;
  font-weight: 400;
  margin-bottom: 1.0416666667vw;
  line-height: normal;
}
.section_middle-one > figure {
  flex: 1 1 60%;
}
.section_middle-one > figure img {
  max-width: 100%;
  border-radius: 1.3888888889vw 1.3888888889vw 0 0;
  overflow: hidden;
  width: -webkit-fill-available;
}
.section_three_column {
  height: auto;
  padding: 6.9444444444vw 0;
  gap: 2.0833333333vw;
}
@media screen and (min-width:768px) {
  .section_three_column {
    height: 60dvh;
    padding: 0.6944444444vw 0;
    gap: 0.6944444444vw;
  }
}
.section_grid-masonry {
  height: auto;
}
.section_banner-media {
  height: auto;
}
@media screen and (min-width:768px) {
  .section_banner-media {
    height: 110dvh;
  }
}
.section_banner-media .media-section {
  text-align: center;
}
.section_banner-media .media-section > h2 {
  font-size: 3.8194444444vw;
  line-height: normal;
  font-weight: 700;
  margin-bottom: 1.3888888889vw;
}
.section_banner-media .media-section > p {
  font-size: 1.25rem;
  color: #767676;
  line-height: normal;
  margin-bottom: 1.3888888889vw;
}
.section_testimonial > article {
  padding: 1.3888888889vw;
}
.section_testimonial > article p {
  font-size: 1.25rem;
}
.section_table {
  height: auto;
}
.section_table > h2 {
  font-size: 3.8194444444vw;
  line-height: normal;
  font-weight: 700;
  margin-bottom: 1.3888888889vw;
  text-align: center;
}
.section_table > p {
  font-size: 1.25rem;
  color: #767676;
  line-height: normal;
  margin-bottom: 1.3888888889vw;
  text-align: center;
}
@media screen and (min-width:768px) {
  .section_table {
    height: 100dvh;
  }
}
.section_table .table-container {
  width: 100%;
  text-align: center;
  overflow: auto;
  padding: 5.5555555556vw 0;
  overflow: auto;
}
.section_table .table-container table {
  width: 100%;
  margin: auto;
  border-collapse: collapse;
  text-align: left;
  background-color: #05180a;
  border-radius: 1.3888888889vw;
  min-width: 500px;
}
.section_table .table-container table tr td {
  padding-block: 1.3888888889vw;
  padding-inline: 2.0833333333vw;
  font-size: 1rem;
  color: #fff;
}
.section_table .table-container table tr td:not(:first-of-type) {
  text-align: center;
  font-weight: 300;
}
.section_table .table-container table tr td:nth-of-type(2) {
  background-color: rgba(19, 87, 37, 0.968627451);
  position: relative;
}
@media screen and (min-width:768px) {
  .section_table .table-container table tr td:nth-of-type(2)::after {
    content: "";
    display: block;
    height: 50px;
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    background-color: rgba(19, 87, 37, 0.968627451);
    border-radius: 0 0 30px 30px;
  }
}
.section_table .table-container table tr th {
  padding-block: 1.18125rem;
  padding-inline: 0.95rem;
  text-align: left;
  border-bottom: 1px solid var(--secondary-one-color);
}
.section_table .table-container table tr th:not(:first-of-type) {
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  vertical-align: bottom;
}
.section_table .table-container table tr th:nth-of-type(2) {
  background-color: rgba(19, 87, 37, 0.968627451);
  font-size: 1.25rem;
  position: relative;
}
@media screen and (min-width:768px) {
  .section_table .table-container table tr th:nth-of-type(2)::after {
    content: "";
    display: block;
    height: 50px;
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    background-color: rgba(19, 87, 37, 0.968627451);
    border-radius: 30px 30px 0 0;
  }
}
.section_placement {
  height: 50dvh;
  align-content: center;
}
@media screen and (min-width:768px) {
  .section_placement {
    height: 50dvh;
  }
}
.section_placement .card-placement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.section_placement .card-placement .item-first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background-color: rgba(19, 87, 37, 0.968627451);
  padding: 2.0833333333vw 5.5555555556vw;
  border-radius: 1.3888888889vw;
  max-width: 200px;
}
@media screen and (min-width:768px) {
  .section_placement .card-placement .item-first {
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}
.section_placement .card-placement .item-second {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
.section_placement .card-placement .item-second .num-span {
  flex: 1 1 45%;
  text-align: right;
}
.section_placement .card-placement .item-second .num-span > h4 {
  font-size: 3.8194444444vw;
  line-height: normal;
}
.section_placement .card-placement .item-second .num-span > p {
  font-size: 1rem;
  line-height: normal;
  color: #767676;
}
.section_placement .card-placement .item-second .num-span.fill {
  flex: 1 1 100%;
}
.section_flex-masonry {
  justify-items: left;
}
.section_flex-masonry > h2 {
  font-size: 3.8194444444vw;
  line-height: normal;
  font-weight: 700;
  margin-bottom: 1.3888888889vw;
  text-align: left;
}
.section_flex-masonry > p {
  font-size: 1.25rem;
  color: #767676;
  line-height: normal;
  margin-bottom: 1.3888888889vw;
  text-align: left;
}
.section_faq-section {
  height: auto;
  align-content: center;
}
@media screen and (min-width:768px) {
  .section_faq-section {
    height: 120dvh;
    padding: 3.4722222222vw 0;
  }
}
.section_faq-section > h2 {
  font-size: 3.8194444444vw;
  line-height: normal;
  font-weight: 700;
  margin-bottom: 1.3888888889vw;
  text-align: center;
}
.section_faq-section > p {
  font-size: 1.25rem;
  color: #767676;
  line-height: normal;
  margin-bottom: 1.3888888889vw;
  text-align: center;
}
.section_faq-section .list {
  margin-top: 2.0625rem;
  max-width: 991px;
  margin: 0 auto;
}
.section_faq-section .list .accordion_list {
  border-radius: 8px;
  margin-bottom: 0.9375rem;
  background-color: #0f0f0f;
}
.section_faq-section .list .accordion_list summary {
  list-style: none;
  display: flex;
  align-items: center;
  padding-block: 1rem;
  padding-inline: 1rem;
  color: var(--default-black);
  font-weight: 700;
  font-size: 1.125rem;
  justify-content: space-between;
}
.section_faq-section .list .accordion_list summary::after {
  content: url(./assets/angle-down-solid-full.svg);
  display: inline-block;
  width: 20px;
  height: unset;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
}
.section_faq-section .list .accordion_list p {
  padding: 1.5rem;
  font-size: 1.25rem;
}
.section_faq-section .list .accordion_list[open] summary::after {
  rotate: 180deg;
}
.section_footer {
  height: 120dvh;
  background-image: url("./assets/footer-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.section_footer .footer_banner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.section_footer .footer_banner h2 {
  font-size: 3.125rem;
  line-height: normal;
  margin-bottom: 2.0833333333vw;
}
.section_footer .footer_banner .footer-content-width {
  max-width: 600px;
  display: flex;
  flex-direction: colum;
  justify-content: space-between;
  align-items: center;
  gap: 2.0833333333vw;
}
@media screen and (min-width:768px) {
  .section_footer .footer_banner .footer-content-width {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.section_footer .footer_banner .footer-section-one figure {
  margin-bottom: 1.3888888889vw;
}
.section_footer .footer_banner .footer-section-one > p {
  font-size: 1.25rem;
  line-height: normal;
  margin-bottom: 1.3888888889vw;
  color: #767676;
}
.section_footer .footer_banner .footer-section-one .icon-pack {
  display: flex;
  gap: 10px;
}
.section_footer .footer_banner .footer-section-one .icon-pack > a {
  padding: 10px;
  border-radius: 0.625rem;
  background-color: #262626;
}
.section_footer .footer_banner .footer-section-two p {
  margin-bottom: 1.3888888889vw;
}
.section_footer .footer_banner .copy-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5.5555555556vw 0;
  margin-top: auto;
}
.section_footer .footer_banner .copy-section a {
  color: #767676;
}

.double {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.double.gap {
  gap: 9.7222222222vw;
}
@media screen and (min-width:768px) {
  .double {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .double.gap {
    gap: 2.7777777778vw;
  }
}

.three-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
@media screen and (min-width:768px) {
  .three-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.icon {
  display: inline-block;
  background-repeat: no-repeat;
  position: relative;
  width: 50px;
  height: 50px;
  margin-bottom: 1.5972222222vw;
}
@media screen and (min-width:768px) {
  .icon {
    box-shadow: inset 0px -1px 21px -11px #39ff14;
  }
}
.icon.one:after {
  background-image: url(./assets/icons-1.png);
}
.icon.two:after {
  background-image: url(./assets/icons-2.png);
}
.icon.three:after {
  background-image: url(./assets/icons-3.png);
}
.icon:after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  inset: 0;
}
@media screen and (min-width:768px) {
  .icon:after {
    box-shadow: 0px -1px 240px 34px #39ff14;
  }
}

.footer-button {
  padding: 1.3888888889vw 2.0833333333vw;
  border-radius: 0.625rem;
  background-color: #0f0f0f;
  border: 1px solid #262626;
  white-space: nowrap;
  color: #fff;
  font-size: 1.25rem;
}
.footer-button:not(:last-of-type) {
  margin-bottom: 2.0833333333vw;
}

.blur-button {
  background: #00181f;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 0.8333333333vw 3.4722222222vw;
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
  margin-top: 2.0833333333vw;
}
.blur-button.arrow::after {
  content: "→";
  font-size: 1.25rem;
  padding-left: 0.3472222222vw;
}

/*header start*/
.header {
  overflow: hidden;
  padding: 20px 10px;
}
.header a {
  float: left;
  color: #fff;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 16px;
  line-height: 25px;
}
.header a:hover {
  border-bottom: 1px solid #fff;
}
.header a:active {
  background-color: dodgerblue;
  color: white;
}
.header a .logo {
  font-size: 25px;
  font-weight: bold;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
/*header ends*/
.card.format-one h3 {
  font-size: 1.625rem;
  margin-bottom: 1.3888888889vw;
}
.card.format-one p {
  font-size: 1.25rem;
  color: #767676;
  line-height: normal;
}
.card.format-two h3 {
  font-size: 2.25rem;
  margin-bottom: 2.0833333333vw;
}
.card.format-two p {
  font-size: 1.25rem;
  color: #767676;
  line-height: normal;
  margin-bottom: 2.0833333333vw;
}
.card.format-float {
  position: relative;
  border-radius: 2.0833333333vw;
  overflow: hidden;
}
.card.format-float.one {
  height: 80vh;
  display: flex;
  flex: 0 1 33.3333333333%;
}
.card.format-float.one figure {
  margin-top: auto;
  width: 100%;
}
.card.format-float.one figure img {
  width: 100%;
}
.card.format-float.grad-top.green {
  background: linear-gradient(180deg, rgba(59, 184, 112, 0.6) 0%, rgba(47, 138, 84, 0.4) 40%, rgba(12, 42, 21, 0.2) 100%);
}
.card.format-float.grad-top.blue {
  background: linear-gradient(180deg, rgba(123, 77, 255, 0.6) 0%, rgba(83, 38, 212, 0.4) 45%, rgba(26, 15, 77, 0.2) 100%);
}
.card.format-float.grad-top.gold {
  background: linear-gradient(180deg, rgba(221, 178, 74, 0.6) 0%, rgba(164, 123, 50, 0.4) 50%, rgba(61, 42, 14, 0.2) 100%);
}
.card.format-float .float-card-details {
  position: absolute;
  right: 0;
  left: 0;
  padding: 2.0833333333vw;
}
.card.format-float .float-card-details.bottom {
  position: static;
  bottom: 0;
  background: linear-gradient(180deg, rgba(89, 89, 89, 0.73) 32%, rgb(54, 54, 54) 100%);
}
@media screen and (min-width:768px) {
  .card.format-float .float-card-details.bottom {
    position: absolute;
  }
}
.card.format-float .float-card-details.top {
  top: 0;
}
.card.format-float .float-card-details h3 {
  font-size: 1.875rem;
  margin-bottom: 0.6944444444vw;
}
.grid-spacing {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
}
.grid-spacing .grid-item-two {
  grid-row: span 2/span 2;
}

.flex-spacing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.7777777778vw;
}
.flex-spacing .flex-item {
  flex: 0 1 auto;
}
@media screen and (min-width:768px) {
  .flex-spacing .flex-item.one {
    flex: 0 1 60%;
  }
  .flex-spacing .flex-item.two {
    flex: 0 1 36%;
  }
  .flex-spacing .flex-item.fill {
    flex: 0 1 108%;
  }
  .flex-spacing .flex-item img {
    width: 100%;
  }
}

.toggle-section {
  display: inline-flex;
  width: 100%;
  padding: 10px;
  background-color: #191b18;
  border-radius: 1.875rem;
}
@media screen and (min-width:768px) {
  .toggle-section {
    max-width: 30%;
  }
}
.toggle-section > a {
  padding: 10px;
  color: #fff;
  font-size: 1.25rem;
  text-decoration: none;
  flex: 1 1 50%;
  display: inline-block;
  border-radius: 1.875rem;
}
.toggle-section > a.active {
  background-color: #000;
}

.efx-slide {
  position: relative;
  isolation: isolate;
  overflow: hidden;
}
.efx-slide::before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: #39ff14;
  inset: 0;
  scale: 0 1;
  transform-origin: right;
  transition: scale 450ms;
}
.efx-slide:hover {
  color: rgba(19, 87, 37, 0.968627451) !important;
}
.efx-slide:is(:hover, :focus-visible)::before {
  scale: 1 1;
  transform-origin: left;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}/*# sourceMappingURL=style.css.map */