$primary-font: "Work Sans";
$secondary-font: "Sriracha";

$black: #000;
$white: #fff;
$red: #ff2e3b;
$grey: #9e9e9e;
$blue: #4479ff;
$dark-grey: #333;
$grey1: #f5f5f5;
$black1: #222222;
$black2: #323232;
$green: #68d7ac;
$grey2: #00181f;
$grey3: #373737;

@mixin Flexbox($direction: row, $justify: flex-start, $align: stretch) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    text-size-adjust: none;
    word-break: break-word;
}

html,
body {
    font-size: 16px;
    scroll-behavior: smooth;
    font-weight: 400;
}

::-webkit-scrollbar-thumb {
    background: slategray;
}

::-webkit-scrollbar-track {
    background: #b8c0c8;
}

::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}

body {
    scrollbar-face-color: slategray;
    scrollbar-track-color: #b8c0c8;
    overflow-x: hidden;
    background-color: $black;
}

a {
    &:active {}

    &:hover {}
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
    -webkit-appearance: none;
}

.section {
    &_landing {
        background-image: url("./assets/banner-avater.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 150vh;
    }

    &_float_one {
        position: relative;
        height: 100vh;

        >img {
            position: absolute;
            top: -75vh;
            left: 5%;
            width: 90%;
            right: 5%;
        }

    }

    &_marqee-slide {
        margin: 0 auto;
        width: 80%;
        overflow: hidden;

        .marquee-items {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2rem 0;
        }
    }

    &_middle-one {
        height: calc(100vh + 105px);

        > article {
            flex: 1 1 40%;
            background-color: $grey2;
        }

        >figure {
            flex: 1 1 60%;
            img {
                max-width: 100%;
            }
        }

    }
}

.double {
    @include Flexbox(row, center, center);

}