@charset "UTF-8";
body {
  /*-----Text Colors-----*/
  --txt-color1:#373854;
  --txt-color2:#363636;
  --txt-color3:rgba(55, 56, 84, 0.80);
  --text-color4:#282945;
  --text-color5:rgba(0, 0, 0, 0.20);
  --text-color6:#EAEAF3;
  --text-color7:#000047;
  --text-color8:#838894;
  --text-color9:#F7F7FF;
  --text-color10:#8C97A7;
  --text-color11:#6B708B;
  --text-color12:#2E3144;
  --text-color13:#222222;
  --text-color13:#151832;
  --text-color15:#2E3144CC;
  --text-color16:#2E3144B2;
  --text-color17:#A7A7A7;
  --text-color18:#8B8B8B;
  --text-color19:#6D6D6D;
  --text-color20:#494949;
  --text-color21:#818181;
  --text-color22:#ADADAD;
  --text-color23:#686868;
  --text-color24:#577DC4;
  --text-color25: #83a5cf;
  --text-color26: #bec9d6;
  --text-color27: #bababa;
  --text-color28: #a7bad2;
  --text-color29: #929292;
  --text-color30: #5d5d5d;
  --text-color31: #bfbfbf;
  --text-color32: #9ba7b6;
  --text-color33: #b6bfcb;
  --text-color34:#666666;
  --text-color35:#ddd;
  --text-color36:#ffffffcc;
  --white: #FFFFFF;
  --black:#000000;
  --success:#31cc37;
  /*-----Text Colors-----*/
  /*-----Backgrund Colors-----*/
  --bg-1:#F8F9FA;
  --bg-2:rgba(248, 249, 250, 0.80);
  --bg-3:rgba(255, 255, 255, 0.60);
  --bg-4:#2E3144;
  --bg-5:rgba(249, 250, 251, 0.502);
  --bg-6:#D7DCE8;
  --bg-7:#F8F9FF;
  --bg-8:#E5E7F2;
  --bg-9:#F4F4F4;
  --bg-10:#E8ECF6;
  --blue:#457ec5;
  --blue-lite:#afc5df;
  --blue-lite1:#086abd;
  --blue-lite2:#2e91ff;
  --green:#1EB897;
  --green-hover:#129e80;
  --green-2:#15866C;
  --green-3:#31CC37;
  --green-4: #1dc06c;
  --green-dark:#0BB18E;
  --green-lite:#d1e8ff;
  --green-lite-1:#a0d9bc;
  --green-lite-2:#f3fff5;
  --green-lite-3:#d1e8ff;
  --green-lite-4:#d9fff7;
  --red:#D63D3D;
  --red-hover:#b42424;
  --red-2:#FF595B;
  --orange:#FFC911;
  --orange-2: #f3915f;
  --orange-lite:#FFF8E1;
  --orange-lite-2: #fff9f4;
  --orange-dark:#DCAE12;
  --overlay-bg-1:rgba(0, 0, 0, 0.20);
  --overlay-bg-2:rgba(255, 255, 255, 0.7);
  --overlay-bg-3:rgba(0, 0, 0, 0.05);
  --radio-bg-1:#E5E7EF;
  --radio-bg-2:#A4A8BE;
  --radio-bg-3:#000000;
  --radio-bg-4:#FFFFFF;
  --bg-11: #EDF2FE80;
  --bg-12: #EDF2FE;
  --bg-13: #00000033;
  --bg-14:#e3ecfa;
  --bg-15: #e9e9e9;
  --bg-16:#F3F3F3;
  --bg-17:#F5F5F5;
  --bg-18:#40455B;
  --bg-19:#D1D1D1;
  --bg-20:#F8F8FE;
  --bg-21:#373854;
  /*-----Backgrund Colors-----*/
  /*------Borders-------*/
  --border-1:#979DBA;
  --border-2:rgba(64, 75, 217, 0.20);
  --border-3:rgba(0, 0, 0, 0.15);
  --border-4:rgba(40, 41, 69, 0.20);
  --border-5:rgba(54, 54, 54, 0.20);
  --border-6:#D7DCE8;
  --border-7:rgba(0, 0, 0, 0.08);
  --border-8:#E1E1E1;
  --border-9:rgba(64, 75, 217, 0.2);
  --border-10:#DBDBDB;
  --border-11:rgba(219, 219, 219, 0.5);
  --border-12:#838894;
  --border-13: #e9e9e9;
  --border-14: #F3F3F3;
  --border-green-1:rgba(21, 134, 108, 0.5);
  --accordian-border-1:rgba(0, 0, 0, 0.10);
  --border-15: #F8F9FACC;
  --border-16:#DEDEDE;
  --border-17:#D8D8D8;
  --border-18:#DCDCDC;
  --border-19:#E7E7E7;
  --border-20:#E6E6E6;
  --border-21:#E9E9E9;
  --border-22:#EFEFEF;
  --border-23:#e5e5e5;
  --border-24:#ecf4ff;
  /*------Borders-------*/
  /*------Box Shadows------*/
  --b-shadow-1:rgba(0, 0, 0, 0.05);
  /*------Box Shadows------*/
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
  word-break: break-word;
}

html,
body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  font-weight: 400;
  background-color: #000;
  color: #fff;
}

::-webkit-scrollbar-thumb {
  background: slategray;
}

::-webkit-scrollbar-track {
  background: #b8c0c8;
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

body {
  scrollbar-face-color: slategray;
  scrollbar-track-color: #b8c0c8;
  overflow-x: hidden;
}

ul,
ol {
  margin: 0;
  padding: 0;
}
ul li,
ol li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 87.7777777778vw;
  margin: 0 auto;
  padding: 0 1.1111111111vw;
}
@media screen and (min-width:768px) {
  .container {
    padding: 0 1.6666666667vw;
  }
}
@media screen and (min-width:950px) {
  .container {
    padding: 0 2.7777777778vw;
  }
}
@media screen and (min-width:1199px) {
  .container {
    padding: 0 3.4722222222vw;
  }
}
@media screen and (min-width:1320px) {
  .container {
    padding: 0 0.8333333333vw;
  }
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
  -webkit-appearance: none;
}

.section_landing {
  background-image: url("./assets/banner-avater.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 150vh;
}
.section_float_one {
  position: relative;
  height: 100vh;
}
.section_float_one > img {
  position: absolute;
  top: -75vh;
  left: 5%;
  width: 90%;
  right: 5%;
}
.section_marqee-slide {
  margin: 0 auto;
  width: 80%;
  overflow: hidden;
}
.section_marqee-slide .marquee-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.section_middle-one {
  height: calc(130vh + 105px);
  justify-content: space-between;
}
.section_middle-one > article {
  flex: 1 1 40%;
}
.section_middle-one > article h2 {
  font-size: 3.8194444444vw;
  line-height: 4.5138888889vw;
  font-weight: 700;
  margin-bottom: 1.7361111111vw;
}
.section_middle-one > article p {
  font-size: 1.5625rem;
  font-weight: 400;
  margin-bottom: 1.3888888889vw;
  color: #767676;
  line-height: 2.0833333333vw;
}
.section_middle-one > article ul li {
  font-size: 1.5625rem;
  font-weight: 400;
  margin-bottom: 1.0416666667vw;
  line-height: 1.7361111111vw;
}
.section_middle-one > figure {
  flex: 1 1 60%;
}
.section_middle-one > figure img {
  max-width: 100%;
  border-radius: 1.3888888889vw 1.3888888889vw 0 0;
  overflow: hidden;
  width: -webkit-fill-available;
}

.double {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.three-column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icon {
  display: inline-block;
  width: 3.4722222222vw;
  height: 3.4722222222vw;
  background-image: url("./assets/icons-1.png");
  background-repeat: no-repeat;
  box-shadow: 0px 30px 90px rgba(68, 121, 255, 0.2);
}

.blur-button {
  background: #00181f;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 0.8333333333vw 3.4722222222vw;
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
  margin-top: 2.0833333333vw;
}
.blur-button.arrow::after {
  content: "→";
  font-size: 1.25rem;
  padding-left: 0.3472222222vw;
}

/*header start*/
.header {
  overflow: hidden;
  padding: 20px 10px;
}
.header a {
  float: left;
  color: #fff;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 16px;
  line-height: 25px;
}
.header a:hover {
  border-bottom: 1px solid #fff;
}
.header a:active {
  background-color: dodgerblue;
  color: white;
}
.header a .logo {
  font-size: 25px;
  font-weight: bold;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
/*header ends*//*# sourceMappingURL=style.css.map */